@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Chartex Client</h1>
        <form class="form-inline" action="/action_page.php">
            <div class="form-group">
                <label for="userid">User Id:</label>
                <input type="text" class="form-control" id="userid">
            </div>
        </form>
    </div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-responsive" id="target-table" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User Id</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>

        $(function () {
            fetchData("");

            $("#userid").on("change", function () {
                fetchData($(this).val());
            });

        });


        function fetchData(userid) {
            $.ajax({
                type: "GET",
                dataType: 'jsonp',
                url: "http://localhost:60000/api/v1/GetTransactionReport/" + userid,
                success: function (response) {
                    debugger;
                    var htmlContent = "";
                    if (response && response.length > 0) {
                        for (var i = 0; i < response.length; i++) {
                            htmlContent += "<tr><td>" + response[i].Id + "</td><td>" + response[i].UserId + "</td><td>" + response[i].Amount + "</td></tr>";
                        }
                    }

                    $('#target-table tbody').html(htmlContent);
                },
                error: function (parsedjson, textStatus, errorThrown) {
                    alert("Something went wrong");
                }
            });
        }
    </script>

}